@import url("./font.css");

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* VARIABLE */
:root {
  --color-primary-background: #000430;
  --color-secondary-background: #171c48;
  --color-trash: #dc143c;
  --color-text: #fff;
  --purpel: #828dff;
  --teal: #24feee;

  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;
  --border-radius-2xl: 16px;
  --border-radius-3xl: 24px;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--color-primary-background);
  color: var(--color-text);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 2.5rem;
  margin: 280px auto;
  padding: 2rem 0;
  /* background-color: green; */
}
/*--------------------------------------------------------- status style*/
.container__status {
  border: 2px solid var(--purpel);
  color: var(--color-text);
  border-radius: var(--border-radius-3xl);
  width: calc(100vw - 5rem);
  max-width: 500px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  cursor: pointer;
}
.container__status .status__details {
  display: flex;
  flex-direction: column;
}
.status__details .status__text {
  font-size: 3rem;
  font-weight: 700;
}
.status__details .status__description {
  font-size: 1.8rem;
}
.status__complete-progress-Bar {
  display: block;
  width: 130px;
  height: 10px;
  background-color: var(--color-secondary-background);
  border-radius: var(--border-radius-lg);
  margin-top: 1.2rem;
}
.status__details .status__complete-progress {
  display: block;
  width: 0%;
  height: 10px;
  background-color: var(--teal);
  border-radius: var(--border-radius-lg);
  transition: all 0.3s ease;
}

.container-circle{
   background-color: var(--purpel);
  width: 110px;
  height: 110px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1.1rem;
}


/* filter(all - completed - uncompleted) */
.container__sortFilter {
  width: calc(100vw - 5rem);
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  /* margin-bottom: 5rem; */
}
.container__sortFilter select {
  height: 50px;
  width: 100px;
  /* max-width: 100%; */
  background-color: var(--color-secondary-background);
  border-radius: var(--border-radius-2xl);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--teal);
  padding: 0.5rem 1.5rem;
  border: 0;
  outline: 0;
}

/* end status style------------------------------------------------------ */

/* ------------------------------------------------------------- add item */
.container__addItem {
  /* background-color: gold; */
  width: calc(100vw - 5rem);
  max-width: 495px;
}
.container__addItem form {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
.container__addItem form input {
  min-width: 0;
  flex: 1 1 0;
  padding: 2.5rem 1.5rem;
  border: 1px solid var(--purpel);
  border-radius: var(--border-radius-2xl);
  background-color: var(--color-secondary-background);
  outline: none;
  color: var(--color-text);
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}
.container__addItem .addItem__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  font-size: 48px;
  color: var(--purpel);
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
::placeholder {
  color: var(--color-text);
  font-family: "open-sans";
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  font-weight: bold;
}
/* end add item---------------------------------------------------------- */

.container__input {
  background-color: var(--color-secondary-background);
  border: 1px solid var(--purpel);
  border-radius: var(--border-radius-2xl);
  width: calc(100vw - 5rem);
  max-width: 500px;
  padding: 3rem 1rem;
  margin-bottom: 2rem;
}
.container__input .input__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5px;
}
.input__checkbox {
  display: flex;
 
}
.input__checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius-xs);
  margin-top: 0.5rem;
}
.input__checkbox .input__text {
  margin-left: 2rem;
  color: var(--color-text);
  font-size: 2rem;
  vertical-align: middle;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.input__checkbox .input__text .todo__title {
  margin-right: 1.5rem;
}

.input__trashEdit {
  cursor: pointer;
}
.input__trashEdit button {
  border: none;
  box-shadow: none;
  background-color: transparent !important;
  font-size: 25px;

}

.input__trashEdit .todo__remove {
  color: var(--color-trash);
  margin-left: 1rem;
}
.input__trashEdit .todo__edit {
  color: var(--purpel);
}

@media screen and (min-width: 600px) {
  .status__complete-progress-Bar {
    width: 300px;
  }
  .container__filter .filter__list {
    font-size: 2.5rem;
  }
  .status__details .status__text {
    font-size: 3.5rem;
  }
  .container__sort .sort__list {
    font-size: 2.5rem;
  }
  .container__sortFilter select {
    width: 200px;
  }
  .container__sortFilter select {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
}

button > i {
  pointer-events: none;
}
.completed{
  text-decoration: line-through;
  opacity: 0.8;
  color: var(--teal);
}
.completeCheckBox{
  appearance: none;
  background-color: var(--teal);
  
}





  .confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 0.9;
    top: 0;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }

















